@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Arabic:wght@100..800&family=Vazirmatn:wght@100..900&display=swap');

body.ar {
    font-family: 'Vazirmatn';
    direction: rtl;
}

body.ar h1,
body.ar h2,
body.ar h3 {
    font-family: 'Vazirmatn';
    font-weight: 900;
    -webkit-text-stroke: 0;
}

section.testimony {
     font-family: 'Playpen Sans Arabic', sans-serif;
     font-weight: 400;
    -webkit-text-stroke: 0;
}

.ar section:not(.gofundme) > a.thumb{
    background-image: image-set(
        url(assets/thumb_report_ar.png) 1x,
        url(assets/thumb_report_ar@2x.png) 2x
    );
}

@media (max-width: 1000px) and (orientation: portrait){
    .ar section > a.thumb{
        font-size: 0.85em;
        line-height: 1.2em;
        padding: 28px 140px 4px 8px;
    }
}