/* LTR adjustments */

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

.ltr section{
    direction: ltr;
}

.ltr section p{
    border-right: none;
    border-left: 8px solid #FA5F5F;
}

.ltr #chapter-nav .chapter-item{
    direction: ltr;
}

.ltr section > a.thumb{
    border-right: none;
    border-left: #FA5F5F 8px solid;
    padding: 32px 16px 4px 144px;
    background-position: left bottom;
    background-image: image-set(
        url(assets/report_thumb_en.png) 1x,
        url(assets/report_thumb_en@2x.png) 2x
    );
    line-height: 1.2em;
}

.ltr section:first-child > a.thumb{
    text-align: left;
}

.ltr section > a.thumb:hover{
    background-image: image-set(
        url(assets/report_thumb_en-hover.png) 1x,
        url(assets/report_thumb_en-hover@2x.png) 2x
    );
}

.ltr section.gofundme p{
    border-right: none;
    border-left: #02A85C 8px solid;
}

.ltr section.gofundme > a.thumb{
    border-right: none;
    border-left: #02A85C 8px solid;
    background-image: image-set(
        url(assets/gofundme_thumb_en.png) 1x,
        url(assets/gofundme_thumb_en@2x.png) 2x
    );
}

.ltr section.gofundme > a.thumb:hover{
    background-image: image-set(
        url(assets/gofundme_thumb_en-hover.png) 1x,
        url(assets/gofundme_thumb_en-hover@2x.png) 2x
    );
}

.ltr #mc_embed_signup {
    border-right: 0;
    border-left: 8px solid #FA5F5F;
}

.ltr .inflect-caption {
    direction: ltr;
    text-align: left;
    left: 7vw;
    right: auto;
}